Repository Herrike/simple-system-test: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: pnpm run lint

types:
  run: pnpm run typecheck

added ui and fetch logic
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/api/get-github-users/index.ts
  src/api/octokit-config/index.ts
  src/app.css
  src/app.tsx
  src/components/results/index.tsx
  src/components/ui/accordion/index.tsx
  src/components/ui/card/index.tsx
  src/components/ui/result-list/index.tsx
  src/components/ui/search-button/index.tsx
  src/components/ui/search-input/index.tsx
  src/index.css
  src/store/atoms/users-atom.ts
  src/store/atoms/users-repos-atom.ts
  src/types/globals.d.ts
  src/ui/search-button/index.tsx
  src/ui/search-input/index.tsx
  vite.config.ts
Due: lint, types

a few polishing for queries
  .prettierrc
  package.json
  pnpm-lock.yaml
  src/api/get-github-user-repos/index.ts
  src/api/get-github-users/index.ts
  src/api/octokit-config/index.ts
  src/components/results/index.tsx
  src/components/ui/accordion/index.tsx
  src/components/ui/card/index.tsx
  src/components/ui/result-list/index.tsx
  src/components/ui/search-form/index.tsx
  src/components/ui/search-input/index.tsx
  src/main.tsx
  src/store/atoms/query-search-atom.ts
  src/store/atoms/users-repos-atom.ts
  src/types/globals.d.ts
Due: lint, types

commented testing pre-push for now
  lefthook.yml
Due: none

added get-github-users integration test, polished code
  package.json
  pnpm-lock.yaml
  src/api/get-github-user-repos/index.ts
  src/api/get-github-users/index.test.ts
  src/api/get-github-users/index.ts
  src/components/ui/accordion/index.tsx
  src/components/ui/card/index.tsx
  src/components/user-results/index.tsx
  src/store/atoms/users-atom.ts
  src/store/atoms/users-repos-atom.ts
  vitest.config.mjs
Due: lint, types

a round of optimization of swr+octokit queries
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/api/get-github-user-repos/index.ts
  src/api/get-github-users/index.ts
  src/app.tsx
  src/components/card/index.tsx
  src/components/repository/index.tsx
  src/components/search-button/index.tsx
  src/components/search-form/index.tsx
  src/components/search-input/index.tsx
  src/components/ui/result-list/index.tsx
  src/components/user-repo-result-list/index.tsx
  src/components/user-repo-results/index.tsx
  src/components/user-result-list/index.tsx
  src/components/user-results/index.test.tsx
  src/components/user-results/index.tsx
  src/types/globals.d.ts
  tsconfig.app.json
  vitest.config.mjs
  vitest.setup.ts
Due: lint, types

added api user repos integration test
  package.json
  pnpm-lock.yaml
  src/api/get-github-user-repos/index.test.ts
  src/api/get-github-user-repos/index.ts
  src/api/get-github-users/index.test.ts
  src/api/get-github-users/index.ts
  src/assets/react.svg
  src/components/card/index.tsx
  src/components/search-button/index.tsx
  src/components/user-repo-result-list/index.tsx
  src/components/user-result-list/index.tsx
  src/types/globals.d.ts
Due: lint, types

refactored get-gituhub-users for better test isolation
  src/api/get-github-users/index.test.ts
Due: lint, types

reduced scope to unit+integration tests
  lefthook.yml
  package.json
Due: none

taming css overrides
  lefthook.yml
  src/api/get-github-user-repos/index.ts
  src/components/repository/index.tsx
  src/components/search-button/index.tsx
  src/components/search-input/index.tsx
  src/components/user-repo-result-list/index.tsx
  src/components/user-repo-results/index.tsx
  src/components/user-result-list/index.tsx
  src/components/user-results/index.tsx
  src/index.css
Due: lint, types

Container -> Box
  src/components/repository/index.tsx
  src/components/user-repo-result-list/index.tsx
Due: lint

we run unit-tests manually
  lefthook.yml
Due: none

taming css, another round
  src/app.css
  src/components/repository/index.tsx
  src/components/user-repo-result-list/index.tsx
  src/components/user-repo-results/index.tsx
  src/components/user-result-list/index.tsx
  src/index.css
Due: lint

fixed failing test per_page
  src/api/get-github-user-repos/index.test.ts
  src/api/get-github-user-repos/index.ts
  src/components/repository-stars/index.tsx
  src/components/search-form/index.test.tsx
  src/components/search-form/index.tsx
  src/components/user-repo-results/index.tsx
Due: lint, types

added more unit tests
  src/components/search-form/index.test.tsx
  src/components/user-repo-results/index.test.tsx
  src/components/user-result-list/index.test.tsx
  src/components/user-result-list/index.tsx
  src/components/user-results/index.test.tsx
Due: lint

little patch
  .gitignore
  pnpm-lock.yaml
  vite.config.ts
Due: lint, types

another little patch
  package.json
Due: none

npmrc file
  .npmrc
Due: none

lefthook is a dep and not dev-dep
  package.json
  pnpm-lock.yaml
Due: none

lefthook only in DEV
  package.json
  pnpm-lock.yaml
Due: none

re-introducing pre-push in lefthook
  README.md
  lefthook.yml
  package.json
Due: none

re-introducing pre-push in lefthook
  lefthook.yml
Due: none

re-introducing pre-push in lefthook
  .npmrc
  lefthook.yml
Due: none

added jsdom types
  package.json
  pnpm-lock.yaml
Due: none

fixing vitest
  lefthook.yml
Due: none

vitest-dom -> @testing-library/jest-dom
  package.json
  pnpm-lock.yaml
  vitest.setup.ts
Due: lint, types

added glob
  lefthook.yml
Due: none

fixing lefthook
  lefthook.yml
Due: none

removed unnecessary expect
  src/components/user-repo-results/index.test.tsx
Due: lint

introduced repo link
  README.md
  src/.example.env
  src/components/card/index.tsx
  src/components/repository/index.tsx
  src/components/user-repo-results/index.tsx
  src/types/globals.d.ts
  vitest.setup.ts
Due: lint, types

fixed bug, first entry for repos matching cashed key of users
  src/api/get-github-user-repos/index.ts
Due: lint, types

Update README.md
  README.md
Due: none

css fix
  src/app.css
  src/components/card/index.tsx
  src/components/user-repo-results/index.tsx
  src/components/user-results/index.tsx
Due: lint

added pull to lefthook
  lefthook.yml
Due: none

css res fix
  src/components/card/index.tsx
Due: lint

added tests for accordion
  src/components/user-result-list/index.test.tsx
  src/components/user-result-list/index.tsx
  vitest.config.mjs
Due: lint

tiny cleanup
  src/components/user-result-list/index.test.tsx
Due: lint

more polishing for vitest/jsdom
  tsconfig.app.json
  vitest.config.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
